<div>
    <h1>@Title</h1>
    <p>@Message</p>
    <hr />
    <button @onclick="Close">Close</button>
</div>
@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Message { get; set; } = "";
    [CascadingParameter] public BlazoredModalInstance Modal { get; set; } = default!;

    private async Task Close() => await Modal.CancelAsync();
}