@page "/"
@using Microsoft.EntityFrameworkCore
@using ProjectTracker.Components.Modal
@using ProjectTracker.Data.Contracts
@using ProjectTracker.Data.Database
@using ProjectTracker.Data.Models
@inject IProjectRepository projectRepository
@inject IModalService Modal
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime;
@rendermode InteractiveServer

<PageTitle>Projects List</PageTitle>

<script>
    window.openProject = (args) => {
        window.open(args);
    }
</script>
<div style="display: flex; flex-direction: row; justify-content: space-between">
    <div class="text-left">
        <p style="font-size: 22px;font-weight: bold">Available Projects</p>
    </div>
    <div class="text-right">
        <button class=" btn btn-warning right" @onclick="async x => { await FetchProjects(); }">
            @if (!isLoading)
            {
                <span>Refresh Projects List</span>
            }
            else
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            }
        </button>
    </div>
</div>

<div style="height: 22px" />

<table class="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Go To Project</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in projects)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.CreatedAt.ToShortDateString()</td>
                <td>
                    <button class="btn btn-link" @onclick="async () => await OpenProject(project)">Open</button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="async () => await OnDelete(project)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private IList<Project> projects = new List<Project>();
    private bool isLoading = false;
    private int currentPage = 0;
    private async Task OnDelete(Project project)
    {
        @* var modalParams = new ModalParameters()
.Add(nameof(DeleteModal.Message), $"Are you sure you want to delete project: {project.Title}")
.Add(nameof(DeleteModal.Title), "Delete Confirmation");

Modal.Show<DeleteModal>("Delete Confirmation", parameters: modalParams); *@
        await projectRepository.DeleteAsync(project);
        await FetchProjects();
    }

    private async Task OpenProject(Project project)
    {
        await JSRuntime.InvokeAsync<object>("openProject", new object[2] { project.Link, "_blank" });
    }

    override protected async Task OnInitializedAsync()
    {
        await FetchProjects();
    }
    private async Task FetchProjects()
    {
        this.isLoading = true;
        this.projects = await projectRepository.GetProjectsAsync(skip: 10 * currentPage, pageSize: 50);
        this.isLoading = false;
    }
}
