﻿@page "/register-project"
@using ProjectTracker.Data.Contracts
@using ProjectTracker.Data.Models
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IProjectRepository projectRepository;

<PageTitle>Register New Project</PageTitle>

<h1>New Project</h1>

<EditForm style="width: 50%" Model="@NewProject">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-4">
        <label for="projectTitle">Title</label>
        <InputText class="form-control" id="projectTitle" @bind-Value="@NewProject.Title" />
    </div>
    <div class="form-group mb-4">
        <label for="projectDescription">Description</label>
        <InputText class="form-control" id="projectDescription" @bind-Value="@NewProject.Description" />
    </div>
    <div class="form-group mb-4">
        <label for="projectLink">Project Link</label>
        <InputText class="form-control" id="projectLink" @bind-Value="@NewProject.Link" />
    </div>
    <button type="submit" class="btn btn-primary" @onclick="RegisterNewProject">Submit</button>
</EditForm>


@code {
    private Project NewProject = new Project(Guid.NewGuid(), title: "", description: "", createdAt: DateTime.Now, link: "");
    private async Task RegisterNewProject()
    {
        try
        {
            var createdProject = await projectRepository.AddAsync(NewProject);
            if (createdProject != null)
            {
                Navigation.NavigateTo($"projects?id={createdProject.Id}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
